@model DateTime?

<div>
    @Html.TextBoxFor(model => model, new { @class = "form-control date-picker" })
</div>

<script>
    $(function () {
        $('.date-picker').datepicker({
            format: "dd.mm.yyyy"
        });
    });
</script>
