@model Movie
@{
    ViewBag.Title = "Delete Movie";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_Details", Model)
<br />
@using (Html.BeginForm("Delete", "Movies", FormMethod.Post))
{
    @Html.HiddenFor(e => e.Id)
    <button type="submit" class="btn btn-success">Yes</button>
    @:&nbsp;
    @Html.ActionLink("No", "Index", null, htmlAttributes: new { @class = "btn btn-danger" })
}