
@model HandleErrorInfo 

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<div>
    @*@Model.Exception.Message*@
    Opppppsss ! An Error occured!
</div>
<div>
    @*@Model.Exception.StackTrace*@
</div>